<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="parent_frame_id" 	default="map" />
	<arg name="calibration_frame_id" 	default="carrier_case" />
	<arg name="tf_frame_prefix" 	default="imu/" />
	<arg name="publish_status"	default="true" />
	<arg name="do_calibration"	default="false" />
	<arg name="dummy_publisher"	default="false"/>
	<arg name="wait_to_start"	default="true"/>
	<arg name="use_imu_time_stamps" 	default="true" />
	<!-- ahrs_divisor
		0 .. disabled
		1 .. 400 hz
		2 .. 200 hz
		3 .. 133 hz
		4 .. 100 hz
		8 .. 50 hz
	-->

	<arg name="ahrs_divisor" 	default="4" />
	
	<rosparam command="load" file="$(find ximu3_ros)/config/upright.yaml"/>

	<include file="$(find ximu3_ros)/launch/ximu.launch">
		<arg name="tf_frame_prefix" 	value="$(arg tf_frame_prefix)" />
		<arg name="name" 		value="tibia_l" />
		<arg name="publish_status" 	value="$(arg publish_status)" />
		<arg name="parent_frame_id" 	value="$(arg parent_frame_id)" />
		<arg name="calibration_frame_id" 	value="$(arg calibration_frame_id)" />
		<arg name="do_calibration" 	value="$(arg do_calibration)" />
		<arg name="dummy_publisher" 	value="$(arg dummy_publisher)" />
		<arg name="wait_to_start" 	value="$(arg wait_to_start)" />
		<arg name="receive_port"	value="9006" />
		<arg name="send_port" 	value="8006" />
		<arg name="ip_address"	value="192.168.1.6" />
		<arg name="ahrs_divisor"	value="$(arg ahrs_divisor)" />
		<arg name="use_imu_time_stamps"	value="$(arg use_imu_time_stamps)" />
	</include>
</launch>

